.container {
  margin-top: 10px;
}

.pickupSavings {
  text-decoration: underline;
}

.purchase-card {
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
}

.purchase-card > .show-grid {
  padding-bottom: 1.5em;
}

.totalSavings {
  color: red;
  font-weight: 800;
}